@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,900;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #201b2c;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 600px;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);

}

.container h1 {
    
    font-weight: 600;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.container span {
    font-size: 40px;
    font-weight: 400;
    color: #00ff88;
    border-bottom: 1px solid #00ff88;
    padding-bottom: 0px;
    padding-top: 0;
    
    
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;    
}

.container button img {
    width: 28px;
    margin-right: 10px; 

}
.container button {
    border: 0;
    outline: 0;
    background: #00ff88;
    color: #201b2c;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);
}